In [21]:
# import libraries
from pyvis.network import Network  # Interactive network visualization
import pandas as pd # Data Frame
import networkx as nx # Network analysis
from tqdm.notebook import tqdm # Progress bar
import webbrowser

In [22]:
# Read data
ratings_df = pd.read_csv('data/BX-Book-Ratings.csv', sep=';', encoding='latin-1')
users_df = pd.read_csv('data/BX-Users.csv', sep=';', encoding='latin-1')
books_df = pd.read_csv('data/BX-Books.csv', sep=';', encoding='latin-1', on_bad_lines='skip')

/tmp/ipykernel_1588/2220143568.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv('data/BX-Books.csv', sep=';', encoding='latin-1', on_bad_lines='skip')

In [23]:
books_df.columns = books_df.columns.str.lower()
books_df.columns = books_df.columns.str.replace('-','_')
books_df

,isbn,book_title,book_author,year_of_publication,publisher,image_url_s,image_url_m,image_url_l
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [24]:
users_df.columns = users_df.columns.str.lower()
users_df.columns = users_df.columns.str.replace('-','_')
users_df

        user_id                            location   age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [25]:
ratings_df.columns = ratings_df.columns.str.lower()
ratings_df.columns = ratings_df.columns.str.replace('-','_')
ratings_df

         user_id         isbn  book_rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [26]:
# # Use smaller sample of the data
# sample_fraction = 0.005
# df_filtered = ratings_df.sample(frac=sample_fraction, random_state=42)

In [27]:
# G = nx.Graph() 

# for index, row in tqdm(df_filtered.iterrows(), total=df_filtered.shape[0]):
#     try:
#         book_title = books_df[books_df['isbn'] == row['isbn']].iloc[0]['book_title']
#     except IndexError:
#         book_title = f"{row['isbn']}"
#     try:
#         user_title = f"{users_df[users_df['user_id'] == row['user_id']].iloc[0]['user_id']}"
#     except IndexError:
#         user_title = f"{row['user_id']}"
#     G.add_node(f"user_{row['user_id']}", bipartite=0, size=64 , color='#A7BED3',title=user_title)
#     G.add_node(f"book_{row['isbn']}", bipartite=1, size=64, color='#FFA630',title=book_title)
#     G.add_edge(f"user_{row['user_id']}", f"book_{row['isbn']}", weight=row['book_rating'], color='##D7E8BA')

In [28]:
# net = Network(notebook=True,select_menu=True)
# net.show_buttons(filter_=['physics'])
# net.barnes_hut()
# net.from_nx(G)
# len(net.nodes)

In [29]:
# net.write_html('basic_network.html')
# file = open('basic_network.html','r')
# content = file.read()
# content.replace('id="mynetwork"', 'id="mynetwork" style="height: 100dvh;"')
# file.close()
# file = open('basic_network.html','w')
# file.write(content)
# file.close()
# webbrowser.open('basic_network.html')

In [30]:
occurrences = {}
filtered_ratings_df = ratings_df[ratings_df['book_rating'] > 0]
for book in filtered_ratings_df['isbn']:
    if book in occurrences:
        occurrences[book] += 1
    else:
        occurrences[book] = 1
sorted_occurrences = sorted(occurrences.items(), key=lambda x: x[1], reverse=True)
top_5_books = [x[0] for x in sorted_occurrences]
for book in top_5_books:
    f=open('list.txt', 'a')
    f.write(f"{book}:{occurrences[book]}\n")
    f.close()